.furigana-box {
  padding: 0.2em 0.8em;
  margin: 0 0.4em;
  border: 1px solid gray;
}

.furigana-box-kanji {
  display: block;
}

.hide-answer .furigana-box-kanji {
  visibility: hidden;
}

.show-answer .furigana-box-kanji {
  visibility: visible;
}
